<!DOCTYPE html>
<html>
<head>
{{>head}}
</head>

<body>

{{>header}}

{{>mainmenu}}

<div class="home-intro">
    <h2> {{intro.heading}} </h2>
    <p> {{intro.text}} </p>
</div>

{{>footer}}

</body>
</html>
