<meta charset="{{charset}}">
{{#meta}}
<meta name="{{name}}" content="{{content}}">{{/meta}}
{{#css}}
<link href="{{::home}}data/css/{{source}}" rel="stylesheet" type="text/css" />{{/css}}
{{#js}}
<script src="{{::home}}data/js/{{source}}" type="text/css"></script>{{/js}}
<title> {{title}} </title>
